@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap');

body{
    margin: 0px;
    font-family: 'Goldman', cursive;
}
/* Header */
header{
    background: url("../img/cos.jpg") center / cover;
    width: 100%;
    height: 100vh;
}
.marquee{
    width: 100%;
    height: 20vh;
    display: inline-flex;
}

.mar_img{
    width: 20%;
    margin: 0px -50px;
}
.mar_img img{
    width: 100%;
    margin: 0px;
}
.mar_text{
    color: white;
    width: 80%;
}
.head_text{
    width: 40%;
    text-align: center;
    color: white;
}
.head_sc{
    margin-top: 70px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40vh;
}
.head_text h1{
    color: gold;
    font-size: 50px;
}
.head_text p{
    font-size: 20px;
}
.head_text button{
    border: none;
    font-size: 20px;
    width: 20px;
    padding: 10px 5px;
    border-radius: 5px;
    background-color: blueviolet;
}
.head_text button:hover{
    border: none;
    font-size: 20px;
    width: 150px;
    padding: 10px 5px;
    border-radius: 5px;
    background-color: blueviolet;
    transition: 1s;
}
/* Main*/

.sc1{
    width: 100%;

}
.sc1_blok1{
    width: 100%;
    display: flex;
    justify-content: center;
}
.q{
    margin-top: 100px;
    background: url("../img/tower.jpg") center / cover;
    width: 95%;
    height: 300px;
}
.sc1_blok2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.w{
    background: url("../img/1.jpg") center / cover;
}
.e{
    background: url("../img/2.jpg") center / cover;
}
.r{
    background: url("../img/3.png") center / cover;
}
.z{
    width: 27%;
    height: 500px;
    margin: 20px;
    color: white;
    padding: 20px;
}
.z_text a{
    margin: 20px;
    text-decoration: none;
}
.n{
    margin-top: 200px;
}
@media screen and (max-width: 1000px){
    .n{
        margin-top: 50px;
    }
}
@media screen and (max-width: 560px){
    .z_text{
        display: none;
    }
        .z{
            width: 27%;
            height: 200px;
            margin: 20px;
            color: white;
            padding: 20px;
        }
}



/* sectoin2 */

.sc_2{
    width: 100%;
}
.sc2 h1{
    margin-left: 30px;
    font-size: 50px;
    color: rgba(0, 0, 0, 0.527);
}
.sc2_blok{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
.sc2_blok div{
    margin: 20px;
    width: 20%;
    height: 200px;
}
.sc2_blok1{
    background: url("../img/4.jpg") center / cover;
}
.sc2_blok2{
    background: url("../img/5.jpg") center / cover;
}
.sc2_blok3{
    background: url("../img/6.jpg") center / cover;
}
.sc2_blok4{
    background: url("../img/7.jpeg") center / cover;
}

/* Section */
.sc3{
    width: 100%;
    display: flex;
    justify-content: center;
}
.sc3_blok{
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0px;
}
.sc3_blok div{
    width: 45%;
    margin: 0px 20px;
}
.sc3_text h1{
    margin: 0px;
    font-size: 35px;
}
.sc3_text p{
    font-size: 20px;
}

footer{
    background: url("../img/foot.jpg") center / cover;
    width: 100%;
}
.foot{
    width: 100%;
    text-align: center;
    padding: 20px 0px;
}
.foot h1{
    margin: 30px 0px;
}
.foot a{
    font-size: 50px;
    color: black;
}
.foot_link{
    padding: 50px 0px;
}
.foot_link a{
    color: white;
    margin: 20px;
    text-decoration: none;
}